* {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}

:root {
    --sky-from: black;
    --sky-to: #0A2342;
}


a {
    color: white;
}

a:hover {
    text-decoration: none;
}

h1 {
    line-height: .7;
}

ul, li {
    margin: 0;
    padding: 0;
}

header {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
    background: black;
    color: white;
    width: 100%;
}

main {

}

.background {
    /*position: fixed;*/
    /*top: 40px;*/
    /*left: 0;*/
    /*right: 0;*/
    z-index: -10;
    /*background: url("../img/wallpaper1.jpg") no-repeat;*/
    /*background-position: center;*/
    /*background-size: cover;*/
    /*height: 100vh;*/
    /*color: white;*/
}

.author-data {
    /*margin-top: 230px;*/
    /*margin-bottom: 0;*/
    /*display: flex;*/
    /*color: white;*/
}

.main-data {
    /*position: absolute;*/
    /*left: 0;*/
    /*right: 0;*/
    /*z-index: 0;*/
    /*background-color: #4B79A1;*/
    /*background: -webkit-linear-gradient(to top, var(--sky-from), var(--sky-to));*/
    /*background: linear-gradient(to top, var(--sky-from), var(--sky-to));*/
    /*!*background: -olinear-gradient(to top, #283E51, #0A2342);*!*/
    /*color: white;*/
    /*height: 100vh;*/
    /*background-size: 100vh;*/
    /*background-repeat: round;*/
    background-color: var(--sky-from);
    /*color: white;*/
}

.author-logo {

}

.author-logo img {
    /*width: 100px;*/
    /*height: 100px;*/
}

.author {
    /*margin-left: 20px;*/
}

.author-username, .author-level, .author-info {
    /*margin-bottom: 10px;*/
}

.author-status {
    /*line-height: .7;*/
}

.author-info {
    /*border-right: 1px solid white;*/
    /*padding: 0 20px;*/
}

.author-info:first-child {
    padding: 0 20px 0 0;
}

.author-info:last-child {
    border-right: none;
    padding: 0 0 0 20px;
}

.gallery-menu {
    /*margin-top: 40px;*/
}

.gallery-menu ul {
    /*background-color: black;*/
    /*margin-top: 20px;*/
    /*padding: 20px 0;*/
}

.gallery-menu li {
    /*display: inline-block;*/
}

.gallery-menu li a {
    /*padding: 12px 20px;*/
    /*color: #b1b1b9;*/
}

.gallery-menu li a:hover {
    /*color: white;*/
}

/*gallery*/
.gallery-nav {
    /*display: flex;*/
    /*justify-content: space-between;*/
}

.gallery-nav input {
    /*border: 1px solid green;*/
    /*padding: 5px 10px;*/
    /*width: 255px;*/
}

.gallery-nav input:focus {
    /*outline: none;*/
}

.gallery-nav button {
    border: none;
    background: none;
    top: 1px;
    right: 0;
    padding: 5px 10px;
}

.gallery-nav button:hover {
    cursor: pointer;
}

.gallery-nav button:focus {

}

.main-background {
    /*display: block;*/
    /*background: url("../img/stars.png") repeat-x, repeat-y;*/
    /*position: absolute;*/
    /*top: 0;*/
    /*left: 0;*/
    /*right: 0;*/
    /*bottom: 0;*/
    /*height: 10h;*/
}

.gallery-item {
    /*padding: 20px;*/
    background-color: #161a1f;
}

.gallery-item:hover{
    background-color: #838592;
}

.gallery-item-img {
    /*margin-bottom: 20px;*/
}

.gallery-item-img {
    /*height: 150px;*/
}

.gallery-item-img img {
    /*height: 100%;*/
    /*object-fit: cover;*/
}

.gallery-item-info h5 {
    /*margin-bottom: 10px;*/
}

.gallery-item-info h5, .gallery-item-info h6 {
    /*font-weight: inherit;*/
}

.h4-span {
    /*line-height: 1.2;*/
    /*margin-left: 5px;*/
    /*font-size: 1.5rem;*/
}
footer{
    z-index: 10;
    background-color: #161a1f;

}
.footer-main{
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 80px 150px;
}

.footer-item{
    text-transform: uppercase;
    text-align: center;
}
.footer-item ul{
    text-align: left;
}
.footer-item ul li{
    list-style-type: none;
}

.footer-copyright{
    color: #b1b1b9;
}
